<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="nofollow noindex">
    <link rel="icon" href="static/favicon.ico">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap" rel="stylesheet">
</head>
<body id="page-top" class="home" >

    {{> partials/header title=htmlWebpackPlugin.options.title}}
    <h3>Title is set from the webpack.common.js 'HtmlWebpackPlugin', the whole header above is in 'src/patrials/header.handlebars'</h3>
    <img src="./static/coffee-cup-on-table.jpg" alt="looking directly down on a cup of Coffee on a table">
   
</body>
</html>